a, a:hover, a:active, a:visited, a:focus{
    text-decoration:none;
    outline:0;
    cursor: pointer;
}

body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.max{
	height: 100vh;
	width: 100vw;
}

.banner{
	height: 7vh;
	width: 100vw;
	background-color: #202863;
}

.not-banner{
	top: 7vh;
	height: 93vh;
	width: 100vw;
	background-color: #BABEDA;
}

.title{
	line-height: 7vh;
	font-size: 1.5em;
	font-weight: lighter;
	color: white;
	margin-left: 2vw;
}

.nav{
	top: 7vh;
	height: 93vh;
    overflow: hidden;
    transition: width 0.1s;
    background-color: #656B94;
}

.nav.collapsed{
	width: 4vw;
}

.nav.expanded{
	width: 25vw;
}

.nav-banner{
	height: 5vh;
	width: 100%;
}

.nav-menu-toggle{
	font-size: 1.5em;
	color: white;
	display: block;
	float: right;
	margin-right: 1vw;
}
