a, a:hover, a:active, a:visited, a:focus{
    text-decoration:none;
    outline:0;
}

body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

.max{
	height: 100vh;
	width: 100vw;
}

.banner{
	height: 7vh;
	width: 100vw;
	background-color: #202863;
}

.not-banner{
	top: 7vh;
	height: 93vh;
	width: 100vw;
	background-color: #BABEDA;
}

.title{
	line-height: 7vh;
	font-size: 1.5em;
	font-weight: lighter;
	color: white;
	margin-left: 2vw;
}

.nav{
	top: 7vh;
	height: 93vh;
    position: absolute;
    transition: left 0.1s;
    background-color: #445B9F;
    width: 25vw;
}

.nav.collapsed{
	left: -21vw;
}

.nav.expanded{
	left: 0vw;
}

.nav-item{
	height: 5vh;
	width: 25vw;
}

.nav-title{
	line-height: 5vh;
	font-size: 1.2em;
	color: white;
	margin-left: 1vw;
}

.nav-menu-toggle{
	font-size: 1.5em;
	color: white;
	display: block;
	float: right;
	margin-top: 1vh;
	margin-right: 1vw;
}

.nav-list-item{
	margin-left: 1vw;
	margin-right: 1vw;
	height: 5vh;
	color: white;
}

.nav-item-text{
	pointer-events: none;
	line-height: 5vh;
	font-size: 1.1em;
	margin-left: 1vw;
}

.hidden-list{
	margin-left: 1vw;
	transition: height 0.1s;
	overflow: hidden;
}

.hidden-list.collapsed{
	height: 0;
}

