a, a:hover, a:active, a:visited, a:focus{
    text-decoration:none;
    outline:0;
}

body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #E1E3E8;
}

.max{
	margin: 0;
	overflow: hidden;
}

.banner{
	position: fixed;
	height: 7vh;
	width: 100vw;
	background-color: #0C2032;
}

.title{
	line-height: 7vh;
	font-size: 1.5em;
	font-weight: lighter;
	color: white;
	margin-left: 2vw;
}

.nav{
	position: fixed;
	top: 7vh;
	height: 93vh;
    transition: left 0.1s;
    background-color: #2C3E50;
    width: 25vw;
    box-shadow: 5px 2px 4px #888888;
}

.nav.collapsed{
	left: -21vw;
}

.nav.expanded{
	left: 0vw;
}

.nav-header{
	height: 5vh;
}

.nav-content{
	overflow-y: auto;
	height: 88vh;
}

.nav-item{
	width: 25vw;
	transition: height 0.1s;
	overflow: hidden;
}

.nav-item > a {
	display: block;
}

.nav-item > *:hover{
	background-color: #42586E;
}

.nav-item.collapsed{
	height: 5vh;
}

.nav-item.expanded{
	height: auto;
}

.nav-title-container{
	display: block;
	float: left;
	height: 5vh;
	width: 21vw;
}

.nav-title{
	line-height: 5vh;
	font-size: 1.2em;
	color: white;
	margin-left: 1vw;
}

.nav-menu-toggle{
	display: block;
	float: left;
	height: 5vh;
	width: 4vw;
	line-height: 5vh;
	font-size: 1.2em;
	color: white;
	text-align: center;
}

.nav-list-item{
	padding-left: 1vw;
	padding-right: 1vw;
	height: 5vh;
	color: white;
}

.child{
	margin-left: 2vw;
}

.nav-item-text{
	pointer-events: none;
	line-height: 5vh;
	font-size: 1.1em;
	margin-left: 1vw;
}

.page-content{
	margin-top: 7vh;
	height: 93vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.content-position{
	margin-top: 3vh;
	margin-right: 8vw;
	transition: margin-left 0.1s;
}

.content-position.navCollapsed{
	margin-left: 12vw;
}

.content-position.navExpanded{
	margin-left: 33vw;
}

.rc-button{
	background-color: white;
	height: 50vh;
	width: 100%;
	margin-bottom: 5vh;
	box-shadow: 5px 5px 4px #888888;
}

.code-box{
	float: left;
	height: 60vh;
	overflow-y: scroll;
	transition: width 0.2s;
}

.code-box.collapsed{
	width: 0;
}

.code-box.expanded{
	width: 100%;
}

.code-viewer{
	overflow: hidden;
	transition: height 0.2s;
}

.code-viewer.collapsed{
	height: 0;
}

.code-viewer.expanded{
	height: 65vh;
}

.code-viewer-ribbon{
	height: 5vh;
	background-color: #202863;

}

.demo-box-banner{
	height: 7vh;
	background-color: #445B9F;
}

.demo-box-content{
	height: 50vh;
	background-color: white;
	border-radius: 3px;
}

.resizeable-thing {
	background-color: blue;
	transition: height 0.2s, width 0.2s;
	height: 200px;
	width: 200px;
}

.resize.tall {
	height: 200px;
}

.resize.short {
	height: 30px;
}

.resize.wide {
	width: 200px;
}

.resize.narrow {
	width: 30px;
}