<div class="banner">
	<div class="title">Sranderley</div>
</div>

<!-- This is the directive which wraps around the sidenav -->
<rc-expandable-element api="nav">
	<div class="nav"
		ng-class="{
			collapsed: nav.state === 'collapsed',
			expanded: nav.state === 'expanded'
		}"
	>
		<div class="nav-header">
			<div class="nav-item">
				<a href="#/demos/">
					<label class="nav-title">Demos</label>
				</a>
				<a href ng-click="nav.toggle()" class="nav-menu-toggle">
					<i class="fa fa-bars"></i>
				</a>
			</div>
		</div>
		<div class="nav-content">
			<div class="nav-item">

				<a href ng-click="rc.toggle()">
					<div class="nav-list-item">
						<label class="nav-item-text">reusableComponents</label>
						<i class="fa fa-caret-down"></i>
					</div>
				</a>
				<rc-expandable-element api="rc">
					<div class="hidden-list"
						ng-class="{
							collapsed: rc.state === 'collapsed',
							expanded: rc.state === 'expanded'
						}"
					>
						<a href="#/demos/rcButton">
							<div class="nav-list-item">
								<label class="nav-item-text">rcButton</label>
							</div>
						</a>
						<a href="#/demos/rcExpandableElement">
							<div class="nav-list-item">
								<lavel class="nav-item-text">rcExpandableElement</label>
							</div>
						</a>
					</div>
				</rc-expandable-element>

				<a href ng-click="d3.toggle()">
					<div class="nav-list-item">
						<label class="nav-item-text">d3 modules</label>
						<i class="fa fa-caret-down"></i>
					</div>
				</a>

			</div>
		</div>
	</div>
</rc-expandable-element>

<div class="page-content">
	<div class="content-position"
		ng-class="{
			navCollapsed: nav.state === 'collapsed',
			navExpanded: nav.state === 'expanded'
		}"
	>
		<div class="ui-view"></div>
	</div>
</div>