<div class="banner">
	<label class="title">Sranderley</label>
</div>

<div rb-toggle
	toggle-api="nav"
	class="nav"
	ng-class="{
		collapsed: !nav.active,
		expanded: nav.active
	}"
>
	<div class="nav-header">
		<div class="nav-item">
			<a href="#/demos/" class="nav-title-container">
				<label class="nav-title">Demos</label>
			</a>
			<a href ng-click="nav.toggle()" class="nav-menu-toggle">
				<i class="fa fa-bars menu-icon"></i>
			</a>
		</div>
	</div>

	<div class="nav-content">

		<div rb-toggle
			toggle-api="rb"
			class="nav-item"
			ng-class="{
				collapsed: !rb.active,
				expanded: rb.active
			}"
		>
			<a href ng-click="rb.toggle()">
				<div class="nav-list-item">
					<label class="nav-item-text">reusableBehaviors</label>
					<i class="fa fa-caret-down"></i>
				</div>
			</a>
			<a href="#/demos/rbToggle" class="child">
				<div class="nav-list-item">
					<label class="nav-item-text">
						rbToggle
					</label>
				</div>
			</a>
			<a href="#/demos/rbRelay" class="child">
				<div class="nav-list-item">
					<label class="nav-item-text">
						rbRelay
					</label>
				</div>
			</a>
		</div>

		<div rb-toggle
			toggle-api="rc"
			class="nav-item"
			ng-class="{
				collapsed: !rc.active,
				expanded: rc.active
			}"
		>
			<a href ng-click="rc.toggle()">
				<div class="nav-list-item">
					<label class="nav-item-text">reusableComponents</label>
					<i class="fa fa-caret-down"></i>
				</div>
			</a>
			<a href="#/demos/" class="child">
				<div class="nav-list-item">
					<label class="nav-item-text">
						rcToggle
					</label>
				</div>
			</a>
			<a href="#/demos/" class="child">
				<div class="nav-list-item">
					<label class="nav-item-text">
						rcRelay
					</label>
				</div>
			</a>
		</div>

		<div rb-toggle
			toggle-api="d3"
			class="nav-item"
			ng-class="{
				collapsed: !d3.active,
				expanded: d3.active
			}"
		>
			<a href ng-click="d3.toggle()">
				<div class="nav-list-item">
					<label class="nav-item-text">d3 modules</label>
					<i class="fa fa-caret-down"></i>
				</div>
			</a>
			<a href="#/demos/d3Swap" class="child">
				<div class="nav-list-item">
					<label class="nav-item-text">Swapping Nodes</label>
				</div>
			</a>
		</div>
	</div>
</div>

<div class="page-content">
	<div class="content-position"
		ng-class="{
			navCollapsed: !nav.active,
			navExpanded: nav.active
		}"
	>
		<div class="ui-view"></div>
	</div>
	<div class="footer">
		Test
	</div>
</div>