<rc-demo-card
	card-title="Using rb-queue"
	github-link="github.com/sranderley/reusableBehaviors"
	wordpress-link="bonsai-tree.us/rb-queue">

	<rc-shelf name="pagination">
		<shelf-title>Pagination</shelf-title>
		<shelf-content>
			<rc-shelf-drawer rb-queue queue-api="q" count="3" proximity="1">
				<div class="btn" ng-click="q.moveFirst()">
					<i class="fa fa-angle-double-left"></i>
				</div>
				<div class="btn" ng-click="q.movePrev()">
					<i class="fa fa-angle-left"></i>
				</div>
				<div
					class="btn"
					ng-click="q.setActive(1)"
					ng-class="{
						on: q.isActive(1)
					}">
					<i>1</i>
				</div>
				<div
					class="btn"
					ng-click="q.setActive(2)"
					ng-class="{
						on: q.isActive(2)
					}">
					<i>2</i>
				</div>
				<div
					class="btn"
					ng-click="q.setActive(3)"
					ng-class="{
						on: q.isActive(3)
					}"
					ng-show="q.isProximal(3)">
					<i>3</i>
				</div>
				<div class="btn" ng-click="q.moveNext()">
					<i class="fa fa-angle-right"></i>
				</div>
				<div class="btn" ng-click="q.moveLast()">
					<i class="fa fa-angle-double-right"></i>
				</div>
			</rc-shelf-drawer>
		</shelf-content>
		<rc-code-viewer
			name="buttons">
			<js-code></js-code>
			<html-code></html-code>
			<css-code></css-code>
		</rc-code-viewer>
	</rc-shelf>
</rc-demo-card>