<rc-demo-card
	card-title="Using rb-relay"
	github-link="github.com/sranderley/reusableBehaviors"
	wordpress-link="bonsai-tree.us/rb-relay">

	<rc-shelf name="radios">
		<shelf-title>Radio Buttons</shelf-title>
		<shelf-content>
			<rc-shelf-drawer>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioOne"
					group="one"
					ng-class="{
						on: radioOne.isActive()
					}"
					ng-click="radioOne.toggle()">
				</div>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioTwo"
					group="one"
					ng-class="{
						on: radioTwo.isActive()
					}"
					ng-click="radioTwo.toggle()">
				</div>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioThree"
					group="one"
					ng-class="{
						on: radioThree.isActive()
					}"
					ng-click="radioThree.toggle()">
				</div><br>
				<label class="btn-label">Radio Buttons</label>
			</rc-shelf-drawer>
			<rc-shelf-drawer>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioOne"
					group="two"
					ng-class="{
						on: radioOne.isActive()
					}"
					ng-click="radioOne.toggle()">
				</div>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioTwo"
					group="two"
					first="true"
					ng-class="{
						on: radioTwo.isActive()
					}"
					ng-click="radioTwo.toggle()">
				</div>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioThree"
					group="two"
					ng-class="{
						on: radioThree.isActive()
					}"
					ng-click="radioThree.toggle()">
				</div><br>
				<label class="btn-label">Radio Buttons</label><br>
				<label class="btn-label">(using 'first' attirbute)</label>
			</rc-shelf-drawer>
			<rc-shelf-drawer>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioOne"
					group="two"
					ng-class="{
						on: radioOne.isActive()
					}"
					ng-click="radioOne.toggle()">
				</div>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioTwo"
					group="two"
					ng-class="{
						on: radioTwo.isActive()
					}"
					ng-click="radioTwo.toggle()">
				</div>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioThree"
					group="two"
					ng-class="{
						on: radioThree.isActive()
					}"
					ng-click="radioThree.toggle()"
					disabled="true">
				</div><br>
				<label class="btn-label">Disabled Radio Button</label>
			</rc-shelf-drawer>
		</shelf-content>
		<rc-code-viewer
			name="radioButtons">
			<js-code>
	angular
		.module( 'reusableBehaviors' )
		.factory( 'rbRelayService', rbRelayService );

	function rbRelayService () {

		var s = {
			register: register,
			toggle: toggle,
			groups: {}
		};

		return s;

		function register ( index, isFirst, isDefault ) {
			if ( !s.groups[ index ] ) s.groups[ index ] = {
				id: 0,
				default: -1,
				active: -1
			};

			var id = s.groups[ index ].id++;

			if ( isFirst || isDefault ) s.groups[ index ].active = id;
			if ( isDefault ) s.groups[ index ].default = id;

			return id;
		}

		function toggle ( index, id ) {
			var group = s.groups[ index ];

			group.active = group.active === id ? group.default : id;
		}
	}

	angular
		.module( 'reusableBehaviors' )
		.directive( 'rbRelay', rbRelay );

	rbRelay.$inject = [ 'rbRelayService' ];

	function rbRelay( rbRelayService ){
		var s = rbRelayService;
		return {
			restrict: 'A',
			scope: {
				relayApi: '=',
				group: '@',
				first: '=?',
				default: '=?',
				disabled: '=?'
			},
			link: function( scope, elem, attr ){
				scope.relayApi = {
					isActive: isActive,
					toggle: toggle
				};

				scope.id = s.register( scope.group, scope.first, scope.default );

				function isActive () {
					return s.groups[ scope.group ].active === scope.id ? true : false;
				}

				function toggle () {
					if ( ! attr.disabled ) s.toggle( scope.group, scope.id );
				}
			}
		}
	}
			</js-code>
			<html-code>
	&lt;div
		class="radio-btn"
		rb-relay
		relay-api="radioOne"
		group="one"
		ng-class="{
			on: radioOne.isActive()
		}"
		ng-click="radioOne.toggle()"&gt;
	&lt;/div&gt;
	&lt;div
		class="radio-btn"
		rb-relay
		relay-api="radioTwo"
		group="one"
		ng-class="{
			on: radioTwo.isActive()
		}"
		ng-click="radioTwo.toggle()"&gt;
	&lt;/div&gt;
	&lt;div
		class="radio-btn"
		rb-relay
		relay-api="radioThree"
		group="one"
		ng-class="{
			on: radioThree.isActive()
		}"
		ng-click="radioThree.toggle()"&gt;
	&lt;/div&gt;&lt;br&gt;
	&lt;label class="btn-label"&gt;Radio Buttons&lt;/label&gt;

	&lt;div
		class="radio-btn"
		rb-relay
		relay-api="radioOne"
		group="two"
		ng-class="{
			on: radioOne.isActive()
		}"
		ng-click="radioOne.toggle()"&gt;
	&lt;/div&gt;
	&lt;div
		class="radio-btn"
		rb-relay
		relay-api="radioTwo"
		group="two"
		first="true"
		ng-class="{
			on: radioTwo.isActive()
		}"
		ng-click="radioTwo.toggle()"&gt;
	&lt;/div&gt;
	&lt;div
		class="radio-btn"
		rb-relay
		relay-api="radioThree"
		group="two"
		ng-class="{
			on: radioThree.isActive()
		}"
		ng-click="radioThree.toggle()"&gt;
	&lt;/div&gt;&lt;br&gt;
	&lt;label class="btn-label"&gt;Radio Buttons&lt;/label&gt;&lt;br&gt;
	&lt;label class="btn-label"&gt;(using 'first' attirbute)&lt;/label&gt;

	&lt;div
		class="radio-btn"
		rb-relay
		relay-api="radioOne"
		group="two"
		ng-class="{
			on: radioOne.isActive()
		}"
		ng-click="radioOne.toggle()"&gt;
	&lt;/div&gt;
	&lt;div
		class="radio-btn"
		rb-relay
		relay-api="radioTwo"
		group="two"
		ng-class="{
			on: radioTwo.isActive()
		}"
		ng-click="radioTwo.toggle()"&gt;
	&lt;/div&gt;
	&lt;div
		class="radio-btn"
		rb-relay
		relay-api="radioThree"
		group="two"
		ng-class="{
			on: radioThree.isActive()
		}"
		ng-click="radioThree.toggle()"
		disabled="true"&gt;
	&lt;/div&gt;&lt;br&gt;
	&lt;label class="btn-label"&gt;Disabled Radio Button&lt;/label&gt;
			</html-code>
			<css-code>
	.radio-btn {
		display: inline-block;
		border: 1px solid #777777;
		border-radius: 12.5px;
		height: 25px;
		width: 25px;
		cursor: pointer;
	}

	.radio-btn.on {
		background-color: #195793;
	}

	.radio-btn[disabled] {
		border: 1px solid #AAAAAA;
	}

	.btn-label {
		color: #777777;
	}
			</css-code>
		</rc-code-viewer>
	</rc-shelf>

	<rc-shelf name="styling">
		<shelf-title>Button Styling</shelf-title>
		<shelf-content>
			<rc-shelf-drawer>
				<div
					class="btn"
					rb-relay
					relay-api="btnOne"
					group="three"
					ng-class="{
						on: btnOne.isActive()
					}"
					ng-click="btnOne.toggle()">
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnTwo"
					group="three"
					ng-class="{
						on: btnTwo.isActive()
					}"
					ng-click="btnTwo.toggle()">
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnThree"
					group="three"
					ng-class="{
						on: btnThree.isActive()
					}"
					ng-click="btnThree.toggle()"
					disabled="true">
				</div><br>
				<label class="btn-label">Disabled Button</label>
			</rc-shelf-drawer>
			<rc-shelf-drawer>
				<div
					class="btn"
					rb-relay
					relay-api="btnOne"
					group="one"
					ng-class="{
						on: btnOne.isActive()
					}"
					ng-click="btnOne.toggle()">
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnTwo"
					group="one"
					ng-class="{
						on: btnTwo.isActive()
					}"
					ng-click="btnTwo.toggle()">
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnThree"
					group="one"
					ng-class="{
						on: btnThree.isActive()
					}"
					ng-click="btnThree.toggle()"
					disabled="true">
				</div><br>
				<label class="btn-label">Linked Buttons</label><br>
				<label class="btn-label">(with first radio button example)</label>
			</rc-shelf-drawer>
		</shelf-content>
		<rc-code-viewer
			name="buttons">
			<js-code>
	angular
		.module( 'reusableBehaviors' )
		.factory( 'rbRelayService', rbRelayService );

	function rbRelayService () {

		var s = {
			register: register,
			toggle: toggle,
			groups: {}
		};

		return s;

		function register ( index, isFirst, isDefault ) {
			if ( !s.groups[ index ] ) s.groups[ index ] = {
				id: 0,
				default: -1,
				active: -1
			};

			var id = s.groups[ index ].id++;

			if ( isFirst || isDefault ) s.groups[ index ].active = id;
			if ( isDefault ) s.groups[ index ].default = id;

			return id;
		}

		function toggle ( index, id ) {
			var group = s.groups[ index ];

			group.active = group.active === id ? group.default : id;
		}
	}

	angular
		.module( 'reusableBehaviors' )
		.directive( 'rbRelay', rbRelay );

	rbRelay.$inject = [ 'rbRelayService' ];

	function rbRelay( rbRelayService ){
		var s = rbRelayService;
		return {
			restrict: 'A',
			scope: {
				relayApi: '=',
				group: '@',
				first: '=?',
				default: '=?',
				disabled: '=?'
			},
			link: function( scope, elem, attr ){
				scope.relayApi = {
					isActive: isActive,
					toggle: toggle
				};

				scope.id = s.register( scope.group, scope.first, scope.default );

				function isActive () {
					return s.groups[ scope.group ].active === scope.id ? true : false;
				}

				function toggle () {
					if ( ! attr.disabled ) s.toggle( scope.group, scope.id );
				}
			}
		}
	}
			</js-code>
			<html-code>
	&lt;div
		class="btn"
		rb-relay
		relay-api="btnOne"
		group="three"
		ng-class="{
			on: btnOne.isActive()
		}"
		ng-click="btnOne.toggle()"&gt;
	&lt;/div&gt;
	&lt;div
		class="btn"
		rb-relay
		relay-api="btnTwo"
		group="three"
		ng-class="{
			on: btnTwo.isActive()
		}"
		ng-click="btnTwo.toggle()"&gt;
	&lt;/div&gt;
	&lt;div
		class="btn"
		rb-relay
		relay-api="btnThree"
		group="three"
		ng-class="{
			on: btnThree.isActive()
		}"
		ng-click="btnThree.toggle()"
		disabled="true"&gt;
	&lt;/div&gt;&lt;br&gt;
	&lt;label class="btn-label"&gt;Disabled Button&lt;/label&gt;

	&lt;div
		class="btn"
		rb-relay
		relay-api="btnOne"
		group="one"
		ng-class="{
			on: btnOne.isActive()
		}"
		ng-click="btnOne.toggle()"&gt;
	&lt;/div&gt;
	&lt;div
		class="btn"
		rb-relay
		relay-api="btnTwo"
		group="one"
		ng-class="{
			on: btnTwo.isActive()
		}"
		ng-click="btnTwo.toggle()"&gt;
	&lt;/div&gt;
	&lt;div
		class="btn"
		rb-relay
		relay-api="btnThree"
		group="one"
		ng-class="{
			on: btnThree.isActive()
		}"
		ng-click="btnThree.toggle()"
		disabled="true"&gt;
	&lt;/div&gt;&lt;br&gt;
	&lt;label class="btn-label"&gt;Linked Buttons&lt;/label&gt;&lt;br&gt;
	&lt;label class="btn-label"&gt;(with first radio button example)&lt;/label&gt;
			</html-code>
			<css-code>
	.btn {
		font-size: 1.5em;
		line-height: 4vh;
		color: white;
		margin-left: 1vw;
		margin-right: 1vw;
		display: inline-block;
		border-radius: 5px;
		background-color: #DDDDDD;
		height: 4vh;
		width: 3vw;
		cursor: pointer;
	}

	.btn:hover {
		background-color: #BBBBBB;
	}

	.btn.on {
		box-shadow: 4px 4px 4px #AAAAAA;
	}

	.btn[disabled] {
		background-color: #EEEEEE;
		pointer-events: none;
	}

	.btn-label {
		color: #777777;
	}

	.btn-label[disabled] {
		color: #AAAAAA;
	}
			</css-code>
		</rc-code-viewer>
	</rc-shelf>

	<rc-shelf name="layout">
		<shelf-title>Layout</shelf-title>
		<shelf-content>
			<rc-shelf-drawer>
				<div
					class="btn"
					rb-relay
					relay-api="btnOne"
					group="four"
					ng-class="{
						on: btnOne.isActive()
					}"
					ng-click="btnOne.toggle()">
					<i class="fa fa-align-left"></i>
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnTwo"
					group="four"
					default="true"
					ng-class="{
						on: btnTwo.isActive()
					}"
					ng-click="btnTwo.toggle()">
					<i class="fa fa-align-center"></i>
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnThree"
					group="four"
					ng-class="{
						on: btnThree.isActive()
					}"
					ng-click="btnThree.toggle()">
					<i class="fa fa-align-right"></i>
				</div>
				<div class="layout-viewer"
					ng-class="{
						left: btnOne.isActive(),
						center: btnTwo.isActive(),
						right: btnThree.isActive()
					}">
					<span>
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae felis erat. Vivamus massa velit, ultricies id condimentum quis, egestas in nisi. Integer pellentesque rhoncus augue quis dignissim. Aliquam eu felis metus. Ut vehicula suscipit elit, a laoreet lorem venenatis at. Mauris accumsan, diam eu pulvinar tempus, justo orci cursus odio, ac vestibulum ante turpis in mauris. Pellentesque dui mi, dictum quis vehicula ac, porttitor a massa. Cras vitae imperdiet ligula. In hac habitasse platea dictumst. In egestas auctor risus pharetra efficitur.<br><br>

Aliquam mi elit, malesuada sed libero et, laoreet pellentesque nibh. Vivamus ultricies nec turpis vel elementum. Nulla cursus malesuada massa sed consequat. Nam dapibus, sem mattis malesuada fermentum, velit arcu accumsan felis, eget dignissim arcu quam eget enim. Nam et odio lectus. Curabitur varius aliquam suscipit. Suspendisse euismod, est non tristique maximus, diam sem volutpat felis, a accumsan lorem nisl eget mi. Vivamus malesuada leo lorem, id vulputate arcu hendrerit vitae. Nulla a egestas nibh.<br><br>

Nam id diam quis neque dignissim posuere. Phasellus tincidunt magna erat. Maecenas posuere tincidunt massa, quis pellentesque nunc aliquet facilisis. Proin fringilla vel massa eu faucibus. Cras auctor fermentum metus quis vehicula. Curabitur semper nulla sed aliquam elementum. Sed felis tortor, dapibus eget sapien sed, eleifend congue leo. Aenean facilisis gravida imperdiet. Curabitur pellentesque tellus sed lectus ornare, ac tempor felis pulvinar. Vestibulum tincidunt nulla nunc, vitae laoreet quam ultricies nec. Nunc eget lacinia arcu, sed auctor ex. Suspendisse iaculis, nisl quis interdum fermentum, sapien eros pharetra justo, quis facilisis lectus dui sit amet metus. Nunc faucibus, neque ut fringilla aliquet, ex dolor porttitor quam, sit amet scelerisque odio arcu ut justo.
					</span>
				</div>
			</rc-shelf-drawer>
		</shelf-content>
		<rc-code-viewer
			name="layout">
			<js-code>
	angular
		.module( 'reusableBehaviors' )
		.factory( 'rbRelayService', rbRelayService );

	function rbRelayService () {

		var s = {
			register: register,
			toggle: toggle,
			groups: {}
		};

		return s;

		function register ( index, isFirst, isDefault ) {
			if ( !s.groups[ index ] ) s.groups[ index ] = {
				id: 0,
				default: -1,
				active: -1
			};

			var id = s.groups[ index ].id++;

			if ( isFirst || isDefault ) s.groups[ index ].active = id;
			if ( isDefault ) s.groups[ index ].default = id;

			return id;
		}

		function toggle ( index, id ) {
			var group = s.groups[ index ];

			group.active = group.active === id ? group.default : id;
		}
	}

	angular
		.module( 'reusableBehaviors' )
		.directive( 'rbRelay', rbRelay );

	rbRelay.$inject = [ 'rbRelayService' ];

	function rbRelay( rbRelayService ){
		var s = rbRelayService;
		return {
			restrict: 'A',
			scope: {
				relayApi: '=',
				group: '@',
				first: '=?',
				default: '=?',
				disabled: '=?'
			},
			link: function( scope, elem, attr ){
				scope.relayApi = {
					isActive: isActive,
					toggle: toggle
				};

				scope.id = s.register( scope.group, scope.first, scope.default );

				function isActive () {
					return s.groups[ scope.group ].active === scope.id ? true : false;
				}

				function toggle () {
					if ( ! attr.disabled ) s.toggle( scope.group, scope.id );
				}
			}
		}
	}
			</js-code>
			<html-code>
	&lt;div
		class="btn"
		rb-relay
		relay-api="btnOne"
		group="four"
		ng-class="{
			on: btnOne.isActive()
		}"
		ng-click="btnOne.toggle()"&gt;
		&lt;i class="fa fa-align-left"&gt;&lt;/i&gt;
	&lt;/div&gt;
	&lt;div
		class="btn"
		rb-relay
		relay-api="btnTwo"
		group="four"
		default="true"
		ng-class="{
			on: btnTwo.isActive()
		}"
		ng-click="btnTwo.toggle()"&gt;
		&lt;i class="fa fa-align-center"&gt;&lt;/i&gt;
	&lt;/div&gt;
	&lt;div
		class="btn"
		rb-relay
		relay-api="btnThree"
		group="four"
		ng-class="{
			on: btnThree.isActive()
		}"
		ng-click="btnThree.toggle()"&gt;
		&lt;i class="fa fa-align-right"&gt;&lt;/i&gt;
	&lt;/div&gt;
	&lt;div class="layout-viewer"
		ng-class="{
			left: btnOne.isActive(),
			center: btnTwo.isActive(),
			right: btnThree.isActive()
		}"&gt;
		&lt;span&gt;
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae felis erat. Vivamus massa velit, ultricies id condimentum quis, egestas in nisi. Integer pellentesque rhoncus augue quis dignissim. Aliquam eu felis metus. Ut vehicula suscipit elit, a laoreet lorem venenatis at. Mauris accumsan, diam eu pulvinar tempus, justo orci cursus odio, ac vestibulum ante turpis in mauris. Pellentesque dui mi, dictum quis vehicula ac, porttitor a massa. Cras vitae imperdiet ligula. In hac habitasse platea dictumst. In egestas auctor risus pharetra efficitur.&lt;br&gt;&lt;br&gt;

Aliquam mi elit, malesuada sed libero et, laoreet pellentesque nibh. Vivamus ultricies nec turpis vel elementum. Nulla cursus malesuada massa sed consequat. Nam dapibus, sem mattis malesuada fermentum, velit arcu accumsan felis, eget dignissim arcu quam eget enim. Nam et odio lectus. Curabitur varius aliquam suscipit. Suspendisse euismod, est non tristique maximus, diam sem volutpat felis, a accumsan lorem nisl eget mi. Vivamus malesuada leo lorem, id vulputate arcu hendrerit vitae. Nulla a egestas nibh.&lt;br&gt;&lt;br&gt;

Nam id diam quis neque dignissim posuere. Phasellus tincidunt magna erat. Maecenas posuere tincidunt massa, quis pellentesque nunc aliquet facilisis. Proin fringilla vel massa eu faucibus. Cras auctor fermentum metus quis vehicula. Curabitur semper nulla sed aliquam elementum. Sed felis tortor, dapibus eget sapien sed, eleifend congue leo. Aenean facilisis gravida imperdiet. Curabitur pellentesque tellus sed lectus ornare, ac tempor felis pulvinar. Vestibulum tincidunt nulla nunc, vitae laoreet quam ultricies nec. Nunc eget lacinia arcu, sed auctor ex. Suspendisse iaculis, nisl quis interdum fermentum, sapien eros pharetra justo, quis facilisis lectus dui sit amet metus. Nunc faucibus, neque ut fringilla aliquet, ex dolor porttitor quam, sit amet scelerisque odio arcu ut justo.
		&lt;/span&gt;
	&lt;/div&gt;
			</html-code>
			<css-code>
	.btn {
		font-size: 1.5em;
		line-height: 4vh;
		color: white;
		margin-left: 1vw;
		margin-right: 1vw;
		display: inline-block;
		border-radius: 5px;
		background-color: #DDDDDD;
		height: 4vh;
		width: 3vw;
		cursor: pointer;
	}

	.btn:hover {
		background-color: #BBBBBB;
	}

	.btn.on {
		box-shadow: 4px 4px 4px #AAAAAA;
	}

	.layout-viewer {
		margin-top: 1vh;
		border: 1px solid #CCCCCC;
		width: 100%;
		padding: 20px 10px;
		background-color: white;
	}

	.layout-viewer.left {
		text-align: left;
	}

	.layout-viewer.center {
		text-align: center;
	}

	.layout-viewer.right {
		text-align: right;
	}
			</css-code>
		</rc-code-viewer>
	</rc-shelf>
</rc-demo-card>