<rc-demo-card
	card-title="Using rb-toggle"
	github-link="github.com/sranderley/reusableBehaviors"
	wordpress-link="bonsai-tree.us/rb-toggle">

	<rc-shelf name="checkbox">
		<shelf-title>Checkbox</shelf-title>
		<shelf-content>
			<rc-shelf-drawer>
				<div>
					<div
						class="checkbox"
						rb-toggle
						toggle-api="checkbox"
						ng-class="{
							on: checkbox.active
						}"
						ng-click="checkbox.toggle()">
					</div><br>
					<label class="checkbox-label">Checkbox</label>
				</div>
			</rc-shelf-drawer>
			<rc-shelf-drawer>
				<div
					class="checkbox"
					rb-toggle
					toggle-api="checkbox"
					ng-click="checkbox.toggle()">
					<i class="fa fa-check" ng-show="checkbox.active"></i>
				</div><br>
				<label class="checkbox-label">Checkbox with Icon</label>
			</rc-shelf-drawer>
			<rc-shelf-drawer>
				<div
					class="checkbox"
					rb-toggle
					toggle-api="checkbox"
					ng-class="{
						on: checkbox.active
					}"
					ng-click="checkbox.toggle()"
					disabled="true">
				</div><br>
				<label class="checkbox-label" disabled="true">Disabled Checkbox</label>
			</rc-shelf-drawer>
		</shelf-content>
		<rc-code-viewer name="checkbox">
			<js-code>
	angular
		.module( 'reusableBehaviors' )
		.directive( 'rbToggle', rbToggle );

	function rbToggle () {
		return {
			restrict: 'A',
			scope: {
				toggleApi: '=',
				disabled: '=?'
			},
			link: function( scope, elem, attr ){
				scope.toggleApi = {
					active: false,
					toggle: toggle
				};

				function toggle () {
					scope.toggleApi.active = scope.disabled ? scope.toggleApi.active : !scope.toggleApi.active;
				}
			}
		}
	}
			</js-code>
			<html-code>
	&lt;div
		class="checkbox"
		rb-toggle
		toggle-api="checkbox"
		ng-class="{
			on: checkbox.active
		}"
		ng-click="checkbox.toggle()"&gt;
	&lt;/div&gt;&lt;br&gt;
	&lt;label class="checkbox-label"&gt;Checkbox&lt;/label&gt;

	&lt;div
		class="checkbox"
		rb-toggle
		toggle-api="checkbox"
		ng-click="checkbox.toggle()"&gt;
		&lt;i class="fa fa-check" ng-show="checkbox.active"&gt;&lt;/i&gt;
	&lt;/div&gt;&lt;br&gt;
	&lt;label class="checkbox-label"&gt;Checkbox with Icon&lt;/label&gt;

	&lt;div
		class="checkbox"
		rb-toggle
		toggle-api="checkbox"
		ng-class="{
			on: checkbox.active
		}"
		ng-click="checkbox.toggle()"
		disabled="true"&gt;
	&lt;/div&gt;&lt;br&gt;
	&lt;label
		class="checkbox-label"
		disabled="true"&gt;
		Disabled Checkbox
	&lt;/label&gt;
			</html-code>
			<css-code>
	.checkbox {
		position: relative;
		border: 1px solid #777777;
		border-radius: 5px;
		height: 25px;
		width: 25px;
		cursor: pointer;
		display: inline-block;
		color: #777777;
	}

	.checkbox-label {
		color: #777777;
	}

	.checkbox.on {
		background-color: #195793;
	}

	.checkbox > i {
		position: absolute;
		font-size: 2.2em;
		margin-top: -0.3em;
		margin-left: -0.3em;
	}

	.checkbox[disabled] {
		border: 1px solid #AAAAAA;
	}

	.checkbox-label[disabled] {
		color: #AAAAAA;
	}
			</css-code>
		</rc-code-viewer>
	</rc-shelf>

	<rc-shelf name="switch">
		<shelf-title>Switch</shelf-title>
		<shelf-content>
			<rc-shelf-drawer>
				<div class="switch-container"
					rb-toggle
					toggle-api="switch"
					ng-class="{
						off: !switch.active,
						on: switch.active
					}"
					ng-click="switch.toggle()"
				>
					<div class="switch-text"
						ng-class="{
							hidden: !switch.active,
							shown: switch.active
						}"
					>ON</div>

					<div class="slider"></div>

					<div class="switch-text"
						ng-class="{
							hidden: switch.active,
							shown: !switch.active
						}"
					>OFF</div>
				</div><br>
				<label class="switch-label">Switch</label>
			</rc-shelf-drawer>
			<rc-shelf-drawer>
				<div class="switch-container"
					rb-toggle
					toggle-api="switch"
					ng-class="{
						off: !switch.active,
						on: switch.active
					}"
					ng-click="switch.toggle()"
				>
					<div class="switch-text"
						ng-class="{
							hidden: !switch.active,
							shown: switch.active
						}"
					>ON</div>

					<div class="slider"></div>

					<div class="switch-text"
						ng-class="{
							hidden: switch.active,
							shown: !switch.active
						}"
					>OFF</div>
				</div>
				<div class="switch-container"
					rb-toggle
					toggle-api="switch"
					ng-class="{
						off: !switch.active,
						on: switch.active
					}"
					ng-click="switch.toggle()"
				>
					<div class="switch-text"
						ng-class="{
							hidden: !switch.active,
							shown: switch.active
						}"
					>ON</div>

					<div class="slider"></div>

					<div class="switch-text"
						ng-class="{
							hidden: switch.active,
							shown: !switch.active
						}"
					>OFF</div>
				</div><br>
				<label class="switch-label">Linked Switches</label>
			</rc-shelf-drawer>
			<rc-shelf-drawer>
				<div class="switch-container"
					rb-toggle
					toggle-api="switch"
					ng-class="{
						off: !switch.active,
						on: switch.active
					}"
					ng-click="switch.toggle()"
					disabled="true"
				>
					<div class="switch-text"
						ng-class="{
							hidden: !switch.active,
							shown: switch.active
						}"
					>ON</div>

					<div class="slider"></div>

					<div class="switch-text"
						ng-class="{
							hidden: switch.active,
							shown: !switch.active
						}"
					>OFF</div>
				</div><br>
				<label class="switch-label" disabled="true">Disabled Switch</label>
			</rc-shelf-drawer>
		</shelf-content>
		<rc-code-viewer name="switch">
			<js-code>
	angular
		.module( 'reusableBehaviors' )
		.directive( 'rbToggle', rbToggle );

	function rbToggle () {
		return {
			restrict: 'A',
			scope: {
				toggleApi: '=',
				disabled: '=?'
			},
			link: function( scope, elem, attr ){
				scope.toggleApi = {
					active: false,
					toggle: toggle
				};

				function toggle () {
					scope.toggleApi.active = scope.disabled ? scope.toggleApi.active : !scope.toggleApi.active;
				}
			}
		}
	}
			</js-code>
			<html-code>
	&lt;div
		class="switch-container"
		rb-toggle
		toggle-api="switch"
		ng-class="{
			off: !switch.active,
			on: switch.active
		}"
		ng-click="switch.toggle()"&gt;
		&lt;div
			class="switch-text"
			ng-class="{
				hidden: !switch.active,
				shown: switch.active
			}"&gt;
			ON
		&lt;/div&gt;
		&lt;div class="slider"&gt;&lt;/div&gt;
		&lt;div
			class="switch-text"
			ng-class="{
				hidden: switch.active,
				shown: !switch.active
			}"&gt;
			OFF
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;div
		class="switch-container"
		rb-toggle
		toggle-api="switch"
		ng-class="{
			off: !switch.active,
			on: switch.active
		}"
		ng-click="switch.toggle()"&gt;
		&lt;div
			class="switch-text"
			ng-class="{
				hidden: !switch.active,
				shown: switch.active
			}"&gt;
			ON
		&lt;/div&gt;

		&lt;div class="slider"&gt;&lt;/div&gt;

		&lt;div
			class="switch-text"
			ng-class="{
				hidden: switch.active,
				shown: !switch.active
			}"&gt;
			OFF
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div
		class="switch-container"
		rb-toggle
		toggle-api="switch"
		ng-class="{
			off: !switch.active,
			on: switch.active
		}"
		ng-click="switch.toggle()"&gt;
		&lt;div
			class="switch-text"
			ng-class="{
				hidden: !switch.active,
				shown: switch.active
			}"&gt;
			ON
		&lt;/div&gt;

		&lt;div class="slider"&gt;&lt;/div&gt;

		&lt;div
			class="switch-text"
			ng-class="{
				hidden: switch.active,
				shown: !switch.active
			}"&gt;
			OFF
		&lt;/div&gt;
	&lt;/div&gt;&lt;br&gt;
	&lt;label class="switch-label"&gt;Linked Switches&lt;/label&gt;

	&lt;div
		class="switch-container"
		rb-toggle
		toggle-api="switch"
		ng-class="{
			off: !switch.active,
			on: switch.active
		}"
		ng-click="switch.toggle()"
		disabled="true"&gt;
		&lt;div
			class="switch-text"
			ng-class="{
				hidden: !switch.active,
				shown: switch.active
			}"&gt;
			ON
		&lt;/div&gt;

		&lt;div class="slider"&gt;&lt;/div&gt;

		&lt;div
			class="switch-text"
			ng-class="{
				hidden: switch.active,
				shown: !switch.active
			}"&gt;
			OFF
		&lt;/div&gt;
	&lt;/div&gt;&lt;br&gt;
	&lt;label class="switch-label" disabled="true"&gt;Disabled Switch&lt;/label&gt;
			</html-code>
			<css-code>
	.switch-container {
		transition: background-color 0.1s;
		border: 1px solid #777777;
		border-radius: 5px;
		width: 50px;
		height: 25px;
		cursor: pointer;
		overflow: hidden;
		display: inline-block;
	}

	.switch-container.off{
		background-color: #AAAAAA;
	}

	.switch-container.on{
		background-color: #195793;
	}

	.switch-container[disabled] {
		background-color: #CCCCCC;
		border: 1px solid #AAAAAA;
	}

	.switch-label {
		color: #777777;
	}

	.switch-label[disabled] {
		color: #AAAAAA;
	}

	.switch-text {
		background-color: inherit;
		color: white;
		text-align: center;
		transition: width 0.1s;
		font-weight: bold;
		line-height: 25px;
		overflow: hidden;
		float: left;
	}

	.switch-text.hidden {
		width: 0;
	}

	.switch-text.shown {
		width: 80%;
	}

	.slider {
		background-color: white;
		border: inherit;
		border-radius: 2px;
		height: 23px;
		width: 20%;
		float: left;
	}
			</css-code>
		</rc-code-viewer>
	</rc-shelf>

	<rc-shelf name="layout">
		<shelf-title>Layout</shelf-title>
		<shelf-content>
			<rc-shelf-drawer>
				<div class="btn"
					rb-toggle
					toggle-api="layout"
					ng-click="layout.toggle()"
				>
					<i class="fa fa-align-left" ng-show="layout.active"></i>
					<i class="fa fa-align-right" ng-show="!layout.active"></i>
				</div>
				<div class="layout-viewer"
					ng-class="{
						left: !layout.active,
						right: layout.active
					}"
				>
					<span>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</span>
				</div>
			</rc-shelf-drawer>
			<rc-shelf-drawer>
				<div class="btn"
					rb-toggle
					toggle-api="columns"
					ng-click="columns.toggle()"
				>
					<i class="fa fa-columns"></i>
				</div>
				<div class="layout-viewer"
					ng-class="{
						cols: columns.active
					}"
				>
					<span>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</span>
				</div>
			</rc-shelf-drawer>
		</shelf-content>
		<rc-code-viewer name="layout">
			<js-code>
	angular
		.module( 'reusableBehaviors' )
		.directive( 'rbToggle', rbToggle );

	function rbToggle () {
		return {
			restrict: 'A',
			scope: {
				toggleApi: '=',
				disabled: '=?'
			},
			link: function( scope, elem, attr ){
				scope.toggleApi = {
					active: false,
					toggle: toggle
				};

				function toggle () {
					scope.toggleApi.active = scope.disabled ? scope.toggleApi.active : !scope.toggleApi.active;
				}
			}
		}
	}
			</js-code>
			<html-code>
	&lt;div
		class="align-btn"
		rb-toggle
		toggle-api="layout"
		ng-click="layout.toggle()"&gt;
		&lt;i class="fa fa-align-left" ng-show="layout.active"&gt;&lt;/i&gt;
		&lt;i class="fa fa-align-right" ng-show="!layout.active"&gt;&lt;/i&gt;
	&lt;/div&gt;
	&lt;div
		class="layout-viewer"
		ng-class="{
			left: !layout.active,
			right: layout.active
		}"&gt;
		&lt;span&gt;
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		&lt;/span&gt;
	&lt;/div&gt;

	&lt;div
		class="align-btn"
		rb-toggle
		toggle-api="columns"
		ng-click="columns.toggle()"&gt;
		&lt;i class="fa fa-columns"&gt;&lt;/i&gt;
	&lt;/div&gt;
	&lt;div
		class="layout-viewer"
		ng-class="{
			cols: columns.active
		}"&gt;
		&lt;span&gt;
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		&lt;/span&gt;
	&lt;/div&gt;
			</html-code>
			<css-code>
	.btn {
		font-size: 1.5em;
		line-height: 4vh;
		color: white;
		margin-left: 1vw;
		margin-right: 1vw;
		display: inline-block;
		border-radius: 5px;
		background-color: #DDDDDD;
		height: 4vh;
		width: 3vw;
		cursor: pointer;
	}

	.btn:hover {
		background-color: #BBBBBB;
	}

	.layout-viewer {
		margin-top: 1vh;
		border: 1px solid #CCCCCC;
		width: 100%;
		padding: 20px 10px;
		background-color: white;
	}

	.layout-viewer.left {
		text-align: left;
	}

	.layout-viewer.right {
		text-align: right;
	}

	.layout-viewer.cols {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
			</css-code>
		</rc-code-viewer>
	</rc-shelf>
</rc-demo-card>