<rc-demo-card
	card-title="Using rb-relay"
	github-link="'sranderley.github.io'"
	wordpress-link="bonsai-tree.us/rb-toggle">

	<rc-shelf name="radios">
		<shelf-title>Radio Buttons</shelf-title>
		<shelf-content>
			<rc-shelf-drawer>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioOne"
					group="one"
					ng-class="{
						on: radioOne.isActive()
					}"
					ng-click="radioOne.toggle()">
				</div>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioTwo"
					group="one"
					ng-class="{
						on: radioTwo.isActive()
					}"
					ng-click="radioTwo.toggle()">
				</div>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioThree"
					group="one"
					ng-class="{
						on: radioThree.isActive()
					}"
					ng-click="radioThree.toggle()">
				</div><br>
				<label class="btn-label">Radio Buttons</label>
			</rc-shelf-drawer>
			<rc-shelf-drawer>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioOne"
					group="two"
					ng-class="{
						on: radioOne.isActive()
					}"
					ng-click="radioOne.toggle()">
				</div>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioTwo"
					group="two"
					ng-class="{
						on: radioTwo.isActive()
					}"
					ng-click="radioTwo.toggle()">
				</div>
				<div
					class="radio-btn"
					rb-relay
					relay-api="radioThree"
					group="two"
					ng-class="{
						on: radioThree.isActive()
					}"
					ng-click="radioThree.toggle()"
					disabled="true">
				</div><br>
				<label class="btn-label">Disabled Radio Button</label>
			</rc-shelf-drawer>
		</shelf-content>
		<rc-code-viewer
			name="radioButtons">
			<js-code>
	angular
		.module('reusableBehaviors')
		.factory('rbRelayService', rbRelayService);

	function rbRelayService(){
		var groups = {};

		var s = {
			register: register,
			toggle: toggle,
			reset: reset,
			active: {}
		};

		return s;

		function register(index, isFirst){
			if(!groups[index]) groups[index] = 0;
			if(! (s.active[index] >= 0) ) s.active[index] = -1;

			var id = groups[index]++;

			if(isFirst){
				s.active[index] = id;
			}

			return id;
		}

		function toggle(index, id){
			s.active[index] = id;
		}

		function reset(index){
			s.active[index] = -1;
		}
	}

	angular
		.module('reusableBehaviors')
		.directive('rbRelay', rbRelay);

		rbRelay.$inject = ['rbRelayService'];

	function rbRelay(rbRelayService){
		var s = rbRelayService;
		return {
			restrict: 'A',
			scope: {
				relayApi: '=',
				group: '=',
				first: '=?'
			},
			link: function(scope, elem, attr){
				scope.relayApi = {
					isActive: isActive,
					toggle: toggle,
					reset: reset
				};

				scope.group = attr.group;

				if ( !scope.first ) scope.first = false;

				scope.id = s.register( attr.group, attr.first );

				function isActive(){
					return s.active[scope.group] === scope.id ? true : false;
				}

				function toggle(){
					if ( ! attr.disabled ) {
						var val = isActive() ? false : scope.id;
						s.toggle(scope.group, val);
					}
				}

				function reset(){
					s.reset(scope.group);
				}
			}
		}
	}
			</js-code>
			<html-code>
			Switch
			&lt;div class="switch-container"
				rb-toggle
				toggle-api="switch"
				ng-class="{
					off: !switch.active,
					on: switch.active
				}"
				ng-click="switch.toggle()"
			&gt;
				&lt;div class="switch-text"
					ng-class="{
						hidden: !switch.active,
						shown: switch.active
					}"
				&gt;ON&lt;/div&gt;
				&lt;div class="slider"&gt;&lt;/div&gt;
				&lt;div class="switch-text"
					ng-class="{
						hidden: switch.active,
						shown: !switch.active
					}"
				&gt;OFF&lt;/div&gt;
			&lt;/div&gt;
			</html-code>
			<css-code>
			.switch-container {
				transition: background-color 0.1s;
				border: 1px solid #999999;
				border-radius: 5px;
				width: 50px;
				height: 25px;
				cursor: pointer;
				overflow: hidden;
			}

			.switch-container.off{
				background-color: #bbbbbb;
			}

			.switch-container.on{
				background-color: blue;
			}

			.switch-text {
				background-color: inherit;
				color: white;
				text-align: center;
				transition: width 0.1s;
				font-weight: bold;
				line-height: 25px;
				overflow: hidden;
				float: left;
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none;   /* Chrome/Safari/Opera */
				-khtml-user-select: none;    /* Konqueror */
				-moz-user-select: none;      /* Firefox */
				-ms-user-select: none;       /* Internet Explorer/Edge */
				user-select: none;
			}

			.switch-text.hidden {
				width: 0;
			}

			.switch-text.shown {
				width: 80%;
			}

			.slider {
				background-color: white;
				border: 1px solid #999999;
				border-radius: 2px;
				height: 23px;
				width: 20%;
				float: left;
			}
			</css-code>
		</rc-code-viewer>
	</rc-shelf>

	<rc-shelf name="styling">
		<shelf-title>Button Styling</shelf-title>
		<shelf-content>
			<rc-shelf-drawer>
				<div
					class="btn"
					rb-relay
					relay-api="btnOne"
					group="three"
					ng-class="{
						on: btnOne.isActive()
					}"
					ng-click="btnOne.toggle()">
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnTwo"
					group="three"
					ng-class="{
						on: btnTwo.isActive()
					}"
					ng-click="btnTwo.toggle()">
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnThree"
					group="three"
					ng-class="{
						on: btnThree.isActive()
					}"
					ng-click="btnThree.toggle()"
					disabled="true">
				</div><br>
				<label class="btn-label">Disabled Button</label>
			</rc-shelf-drawer>
			<rc-shelf-drawer>
				<div
					class="btn"
					rb-relay
					relay-api="btnOne"
					group="one"
					ng-class="{
						on: btnOne.isActive()
					}"
					ng-click="btnOne.toggle()">
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnTwo"
					group="one"
					ng-class="{
						on: btnTwo.isActive()
					}"
					ng-click="btnTwo.toggle()">
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnThree"
					group="one"
					ng-class="{
						on: btnThree.isActive()
					}"
					ng-click="btnThree.toggle()"
					disabled="true">
				</div><br>
				<label class="btn-label">Linked Buttons (with first radio button example)</label>
			</rc-shelf-drawer>
		</shelf-content>
		<rc-code-viewer
			name="buttons">
			<js-code></js-code>
			<html-code></html-code>
			<css-code></css-code>
		</rc-code-viewer>
	</rc-shelf>

	<rc-shelf name="layout">
		<shelf-title>Layout</shelf-title>
		<shelf-content>
			<rc-shelf-drawer>
				<div
					class="btn"
					rb-relay
					relay-api="btnOne"
					group="four"
					ng-class="{
						on: btnOne.isActive()
					}"
					ng-click="btnOne.toggle()">
					<i class="fa fa-align-left"></i>
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnTwo"
					group="four"
					default="true"
					ng-class="{
						on: btnTwo.isActive()
					}"
					ng-click="btnTwo.toggle()">
					<i class="fa fa-align-center"></i>
				</div>
				<div
					class="btn"
					rb-relay
					relay-api="btnThree"
					group="four"
					ng-class="{
						on: btnThree.isActive()
					}"
					ng-click="btnThree.toggle()">
					<i class="fa fa-align-right"></i>
				</div>
				<div class="layout-viewer"
					ng-class="{
						left: btnOne.isActive(),
						center: btnTwo.isActive(),
						right: btnThree.isActive()
					}"
				>
					<span>
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae felis erat. Vivamus massa velit, ultricies id condimentum quis, egestas in nisi. Integer pellentesque rhoncus augue quis dignissim. Aliquam eu felis metus. Ut vehicula suscipit elit, a laoreet lorem venenatis at. Mauris accumsan, diam eu pulvinar tempus, justo orci cursus odio, ac vestibulum ante turpis in mauris. Pellentesque dui mi, dictum quis vehicula ac, porttitor a massa. Cras vitae imperdiet ligula. In hac habitasse platea dictumst. In egestas auctor risus pharetra efficitur.<br><br>

Aliquam mi elit, malesuada sed libero et, laoreet pellentesque nibh. Vivamus ultricies nec turpis vel elementum. Nulla cursus malesuada massa sed consequat. Nam dapibus, sem mattis malesuada fermentum, velit arcu accumsan felis, eget dignissim arcu quam eget enim. Nam et odio lectus. Curabitur varius aliquam suscipit. Suspendisse euismod, est non tristique maximus, diam sem volutpat felis, a accumsan lorem nisl eget mi. Vivamus malesuada leo lorem, id vulputate arcu hendrerit vitae. Nulla a egestas nibh.<br><br>

Nam id diam quis neque dignissim posuere. Phasellus tincidunt magna erat. Maecenas posuere tincidunt massa, quis pellentesque nunc aliquet facilisis. Proin fringilla vel massa eu faucibus. Cras auctor fermentum metus quis vehicula. Curabitur semper nulla sed aliquam elementum. Sed felis tortor, dapibus eget sapien sed, eleifend congue leo. Aenean facilisis gravida imperdiet. Curabitur pellentesque tellus sed lectus ornare, ac tempor felis pulvinar. Vestibulum tincidunt nulla nunc, vitae laoreet quam ultricies nec. Nunc eget lacinia arcu, sed auctor ex. Suspendisse iaculis, nisl quis interdum fermentum, sapien eros pharetra justo, quis facilisis lectus dui sit amet metus. Nunc faucibus, neque ut fringilla aliquet, ex dolor porttitor quam, sit amet scelerisque odio arcu ut justo.
					</span>
				</div>
			</rc-shelf-drawer>
		</shelf-content>
		<rc-code-viewer
			name="buttons">
			<js-code></js-code>
			<html-code></html-code>
			<css-code></css-code>
		</rc-code-viewer>
	</rc-shelf>
</rc-demo-card>